@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --border-color: #e6e5e5;
    --panel-color: #FFF;
    --text-color: #000;
    --title-icon-color: #fff;
    --primary-color: #009688;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
  flex: 1;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
  padding: 0;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item {
  font-size: 18px;
}

.item.bottom1 {
  margin-top: 115%;
}


.item a {
  color: #fff;
  text-decoration: none;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 14px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #009688;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 100;
  background: #e7f2fd;
  overflow: hidden;
  overflow-y: auto; 
}

.title {
    align-items: center;
    margin: 30px 0;
    position: absolute;
    top: 8%;
    left: 3%;
}
.title i {
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 30px;
}
.title #text1 {
  position: absolute;
  font-size: 34px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
  top: -15%;
  left: 100%;
  width: 50rem;
}


table {
  width: 95%;
  max-height: 110px;
  overflow-y: auto;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; 
  position: absolute;
  top: 20%;
  left: 30px;
  border-radius: 15px; 
  border: none; 
}


th, td {
  text-align: center;
  padding: 4px;
}
thead th {
  position: sticky; 
  top: 0;
  background-color: #fff; 
}

tr.selected {
  background-color: rgba(0, 150, 136, 0.1);
}
