@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60107f9c58f4bb476b10caa8_6002086f72b72769e701e207_online-booking-system.jpeg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#back{
    width:210px;
    padding: 15px 0;
    text-align:center;
    margin:20 px 10 px;
    border-radius:25px;
    font-weight:bold;
    border: 2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 610px;
    bottom: 120px;
    z-index: 0;
  }
#back a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
#spanBtn{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 0.5s;
}
#back:hover #spanBtn{
    width: 100%;
}
#back:hover{
    border: none;
}